<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/normalize.css" />
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <title>Blog-Release</title>
</head>
<body>
  <nav class="navbar">
    <a href="/home">
      <div class="navbar__site-name">Who's Blog</div>
    </a>
    <div class="navbar__info-block">
      <div class="navbar__article-info">
        <a>文章列表</a>
        <a>分類專區</a>
        <a>關於我</a>
      </div>
      <div class="navbar__member-info">
        <a href="/admin">管理後台</a>
        <a href="/logout">登出</a>
      </div>
    </div>
  </nav>
  <header class="header">
    <p>存放技術之地-新增文章</p>
    <P>Hello,<%= ' ' + (username || 'Guest') + '!'%></P>
    <p>Welcome to my blog</p>
  </header>
  <main class="article">
      <form class="article__form" method="POST" action="/add_article">
        <div class="article__release">
          <div class="article__release-title">發表文章：</div>
          <input class="article__input-title" type='text' placeholder="請輸入文章標題..." name="title"/>
          <select class="article__input-type" name="type">
            <option value="">請選擇文章分類</option>
            <option value="diary">生活雜記</option>
            <option value="tech">技術分享</option>
            <option value="else">其它</option>
          </select>
          <textarea class="article__input-content" placeholder="請輸入文章內容..."rows="15" name="content"></textarea>
          <div class="article__release-submit">
            <button type="submit">送出文章</button>
          <div>
        </div>
      </form>
  </main>
  <footer>
    <span>Copyright © 2020 Who's Blog All Rights Reserved.</span>
  </footer>
</body>
<script>
  const select = document.querySelector('.article__input-type')
  select.addEventListener('click', (e) => {
    select.firstElementChild.disabled = true
  })
</script>
<% if (errorMessage && errorMessage.length > 0) { %>
  <script>
    window.onload = function() { 
      window.alert("<%= errorMessage %>")
      window.location = '/add_article'
    }
  </script>
<% } %>
</html>