<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/normalize.css" />
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <title>Blog-Register</title>
</head>
<body>
  <nav class="navbar">
    <a href="/home">
      <div class="navbar__site-name">Who's Blog</div>
    </a>
    <div class="navbar__info-block">
      <div class="navbar__article-info">
        <% if (username) { %>
        <a>文章列表</a>
        <a>分類專區</a>
          <a>關於我</a>
        <% } %>
      </div>
      <div class="navbar__member-info">
        <% if (username) { %>
          <a href="/admin">管理後台</a>
          <a href="/logout">登出</a>
        <% } else { %>
          <a href="/login">登入</a>
        <% } %>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <% if (!username) %>
    <form class="login-form" method="POST"  action="/register">
      <div class="login-form__title">Register</div>
      <p>USERNAME</p>
      <input class="login-form__username" type="text" name="username" />
      <p>PASSWORD</p>
      <input class="login-form__password" type="password" name="password" />
      <p>NICKNAME</p>
      <input class="login-form__username" type="text" name="nickname" />
      <select class="login-form__authority-select" name="authority">
        <option value="">請選擇權限</option>
        <option value="ADMIN">ADMIN</option>
        <option value="NORMAL">NORMAL</option>
        <option value="BANNED">BANNED</option>
      </select>
      <input class="login-form__submit" type="submit" value="SIGN UP" name="submit" />
    </form>
  </div>
  <% if (errorMessage && errorMessage.length > 0) { %>
    <script>
      window.onload = function() { 
        window.alert("<%= errorMessage %>")
        window.location = '/register'
      }
    </script>
  <% } %>
</body>
</html>