p, h1, h4 {
	margin: 0;
}

.navbar {
	box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar .wrap {
	height: 84px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrap {
	margin: 0 auto;
	padding: 0px 12px;
}

.navbar__list {
	display: flex;
}

.navbar__list li {
	list-style: none;
	padding: 13px 25px;
	border-radius: 8px;
	font-size: 18px;
}

.navbar__list li+li{
	margin-left: 10px;
}

.navbar__list li.active a, .navbar__list li:hover a {
	color:white;
}

.navbar__list li:hover {
	background: #ff7286;
}

.navbar__list a {
	text-decoration: none;
	color: black;
}

.navbar__site-name {
	font-size: 36px;
	color: #489846;
}

.active {
	background: #ff7286;
}

.section {
	text-align: center;
	position: relative;
}

.section__title {
	display: inline-block;
	border-left: solid 15px #a3dea2;
	padding-left: 12px;
	margin-top: 80px;
	margin-bottom: 36px;
}

p {
	font-size: 18px;
}

.Q {
	margin: 10px 0px;
	position: relative;
	left: 72px;
	font-weight: normal;
	cursor: pointer;
	display: inline-block;
}

/* 繪製前面的 Q1、Q2...*/
.Q:before {
	font-size: 24px;
  content: attr(data-value);
  position: absolute;
  left: -50px;
  top: -5px;
  color: #70b282;
  letter-spacing: 0.22px;
}

.list-wrap {
	display: flex;
	justify-content: center;
}

.faq-block {
	position: relative;
	list-style: none;
}

/*繪製問題中間的區隔線*/
.Q-line {
	width: 758px;
	height: 1px;
	background: #a6e2c0;
	margin: 20px 0px;
}

.Q-content {
	display: none;
	max-width: 680px;
	line-height: 27px;
	white-space: pre-line;
}

.Q-click .content--hidden {
	display: block;
}

.Q-title {
	display: inline-block;
}

.Q-unclick .title--hover:hover {
	transform: scale(1.02, 1.05);
}

/*版權方塊元素*/
.footer__bottom p {
	padding: 10px;
	font-size: 16px;
	background: #35564b;
	text-align: center;
	color: white;
}

/*調整餐廳資訊區塊內元素*/
.footer__top {
	display: flex;
	padding: 40px;
	background: #e8efee;
	justify-content: space-between;
}

/*調整餐廳資訊左側區塊*/
.footer__top-left {
	line-height: 2em;
	font-size: 14px;
	color: #484848;
}

/*調整餐廳資訊右側文字(Facebook...)*/
.footer__top-right p {
	padding-top: 15px;
	font-size: 18px;
}

/*調整與上方地圖的距離*/
footer {
	margin-top: 43px;
}


@media(max-width: 780px) {
	.navbar .wrap {
		height: 125px;
		flex-direction: column;
	}

	.navbar__site-name {
		margin-top: 12px;
	}

	.navbar__list {
		position: relative;
		left: -30px;
	}

	.navbar__list li {
		padding: 14px;
	}

	.faq-block {
		position: relative;
		max-width: 75%;
		margin-right: 62px;
	}

	.Q-content {	
		max-width: 80%;
	}

	.footer__top {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.Q-line {
		max-width: 90%;
	}

	.Q-title {
		line-height: 1.3em;
	}
}
