body {
	margin: 0;
}

.navbar {
	box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar .wrap {
	height: 84px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.wrap {
	margin: 0 auto;
	padding: 0px 12px;
}

.navbar__list {
	display: flex;
}

.navbar__list li {
	list-style: none;
	padding: 13px 25px;
	border-radius: 8px;
	font-size: 18px;
}

.navbar__list li+li{
	margin-left: 5px;
}

.navbar__list li.active a, .navbar__list li:hover a {
	color:white;
}

.navbar__list li:hover {
	background: #ff7286;
}

.navbar__list a {
	text-decoration: none;
	color: black;
}


.navbar__site-name {
	font-size: 36px;
	color: #489846;
}

.active {
	background: #ff7286;
}

.banner {
	position: relative;
	height: 450px;
	background: url(bg.jpg) center/cover no-repeat;
}

.banner:after {
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1 {
	margin: 0;
}

.banner h1 {
	display: inline-block;
	color: white;
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 60px;
	font-weight: bold;
	transform: translate(-50%, -50%);
	z-index: 2;
}

p {
	margin: 0;
}

.section {
	text-align: center;
	position: relative;
}

.section__title {
	display: inline-block;
	border-left: solid 15px #a3dea2;
	padding-left: 12px;
	margin-top: 80px;
	margin-bottom: 36px;
}

.section__desc {
	line-height: 2em;
	margin-bottom: 36px;
}

.button {
	padding: 61px 80px;
	color: #3e613d;
	font-size: 36px;
	display: inline-block;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.1s;
}

.button:hover {
	transform: scale(1.1);
}

.order {
	background: #a8e8e1;
}

.query {
	background: #f9f9b5;
	margin-left: 23px;
}


.section__images {
	display: flex
}

/*將 div 平均切成 4 塊*/
.section__images div {
	width: 25%;
}

/*使圖片大小為 div 區塊*/
.section__images img {
	width: 100%;
}

/* ↑ 上面的程式碼基本與補充影片類似，但因為是看完影片後再自己寫的，所以還是會有些差別 */


.section__client {
	display: flex;
	margin: 72px 0px;
	justify-content: space-between;
}

/*評論區塊包含外面框線*/
.comment {
	position: relative;
}


/*調整評論區與上方標題的距離及評論區間格的距離*/
.client {
	padding: 10px;
  margin-top: 35px;
  width: 420px;
  margin: 0px 5px;
  height: 250px;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
  border: 1px solid #c7e5ec;
}

/*統一大頭照區塊的大小*/
.headshot {
  display: inline-block;
  margin-top: -67px;
}

/*版權方塊元素*/
.footer__bottom p {
	padding: 10px;
	font-size: 16px;
	background: #35564b;
	text-align: center;
	color: white;
}

/*調整餐廳資訊區塊內元素*/
.footer__top {
	display: flex;
	padding: 40px;
	background: #e8efee;
	justify-content: space-between;
}

/*調整餐廳資訊左側區塊*/
.footer__top-left {
	line-height: 2em;
	font-size: 14px;
	color: #484848;
}

/*調整餐廳資訊右側文字(Facebook...)*/
.footer__top-right p {
	padding-top: 15px;
	font-size: 18px;
}

/*調整與上方地圖的距離*/
footer {
	margin-top: 43px;
}


@media(max-width: 768px) {

	.navbar .wrap {
		height: 158px;
		flex-direction: column;
		padding: 0px;
	}

	.navbar__list li {
		flex: 1;
		border-radius: 0;
		text-align: center;
		padding: 13px;
	}

	.navbar__list {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		margin-right: 40px;
	}

	.navbar__site-name {
		position: relative;
		top: 20px;
	}

	.button {
		padding: 60px 60px;
	}

	.query {
		margin-left: 0px;
		margin-top: 10px;
	}

	.section__images {
	flex-direction: column;
	}

	.section__images div {
		width: 100%;
	}

	.section__client {
		flex-direction: column;
		position: relative;
		left: 0%;
		margin: 0;
		align-items:center;
	}

	.client {
		margin-top: 70px;
		width: 90%;
		height: 270px;
	}

	.headshot {
		position: absolute;
		left: 50%;
  	transform: translate(-50%);
	}

	.comment {
		top: 42%;
	}

	.footer__top {
		flex-direction: column-reverse;
	}

	.footer__top-left {
		margin-right: 0;
		margin-top: 16px;
	}

	.footer__top-right p {
		position: static;
	}
}