/*繪製表單*/
.login-form {
	background: white;
	margin: 0 auto;
	padding: 54px 150px 35px 42px;
	max-width: 645px;
	margin-top: 129px;
	box-shadow: 1.8px 2.4px 5px 0 #0000004c;
	border-top: solid 10px #fad312;
}

/*調整標題文字*/
.title__info h1 {
	font-size: 36px;
	font-weight: bold;
	margin: 0px 0px 35px 0px;
}

/*調整活動資訊的文字*/
.title__info :nth-child(2) {
	font-size: 14px;
	line-height: 2em;
}

/*調整文字「必填」*/
.title__info :nth-child(3) {
	color:red;
	color: #e74149;
	font-size: 16px;
	margin-top: 20px;
}

/*統一調整每種類型區塊與上方區塊的距離*/
.section {
	margin-top: 50px;
}

h1, h2, h3, h4, h5, p, span {
	margin: 0;
}

/*統一設定每一個輸入欄+標題，與其他欄位的距離*/
.questions {
	margin: 0px 0px 52px 0px;
}

/*統一調整輸入框與上方距離*/
.section input {
	margin-top: 24px;
	padding: 5px 0px;
}

/*「其他」的說明文字*/
h5 {
	font-size: 14px;
	margin-top: 8px;
}

/*統一調整輸入欄的標題文字*/
h3 {
	font-weight: bold;
	font-size: 20px;
}

/*統一調整資訊文字*/
p {
	font-size: 14px;
}

/*統一調整 list 內選項的文字*/
label {
	font-size: 14px;
}

/*修改提交按鈕*/
input[type=submit] {
	background: #fad312;
	padding: 13px 30px;
	color: black;
	font-size: 15px;
	border: none;
	margin-bottom: 15px;
}

/*輸入框內預設文字為灰色*/
input::placeholder {
	color: #afafaf;
}

/*繪製下方版權區塊*/
.navbar {
	border-top: 2px solid yellow;
	margin-top: 66px;
	padding: 26px;
	text-align: center;
	background: black;
	color: #999999;
	font-size: 13px;font-size: ;
}

.require:after {
	content: " *";
	color: red;
}

/* RWD 調整，只將表格縮成適合的大小，且內容置中*/
@media(max-width: 768px) {

	.login-form {
		margin: 0 auto;
		padding: 100px 0px 100px 0px;
		max-width: 475px;
		text-align: center;
	}
	
	.title__info h1 {
		white-space: nowrap;
	}
}

.alert-block {
	position: relative;
	font-size: 12px;
	margin-top: 5px;
	border-radius: 4px;
	padding: 8px 16px;
	padding-left: 30px;
	background: orange;
	width: 248px;
}

.alert-block__words {
	color: white;
}

.alert-block__words:before {
	position: absolute;
	content: '\e000';
	font-family: 'Material Icons';
  font-size: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  top: 7px;
	left: 7px;
}

.alert-block--hidden {
	display: none;
}

.material-icons {
	color: white;
}